<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout_main">

<div layout:fragment="content">

    <p th:text="GAMES"></p>

    <table>
        <thead>
            <td>game id</td>
            <td>home</td>
            <td>away</td>
            <td>starts at</td>
            <td>1</td>
            <td>X</td>
            <td>2</td>
            <td>bet 1</td>
            <td>bet X</td>
            <td>bet 2</td>
        </thead>

        <tr th:each="game: ${games}">
            <td th:text="${game.gameId}"></td>
            <td th:text="${game.teamHome}"></td>
            <td th:text="${game.teamAway}"></td>
            <td th:text="${game.started}"></td>
            <td th:text="${game.homeOdd}"></td>
            <td th:text="${game.drawOdd}"></td>
            <td th:text="${game.awayOdd}"></td>

            <!--<td><a th:href="@{/ticket/{game_id}/1/create(game_id=${game.gameId})}">Order</a></td>-->
            <td>
                <form action="/ticket/${game.gameId}/1/create" method="get">
                    <button type="submit">Bet 1</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</html>

<!--<td><a th:href="@{/home/{id}/order(id=${product.id})}">Order</a></td>-->