<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout_main">

<div layout:fragment="content">

    <p th:text= "'GAMES for user: ' + ${userName}"></p>

    <table>
        <thead>
            <td>game id</td>
            <td>home</td>
            <td>away</td>
            <td>starts at</td>
            <td>1</td>
            <td>X</td>
            <td>2</td>
            <td>bet 1</td>
            <td>bet X</td>
            <td>bet 2</td>
        </thead>

        <tr th:each="game: ${games}">
            <td th:text="${game.id}"></td>
            <td th:text="${game.teamHome.name}"></td>
            <td th:text="${game.teamAway.name}"></td>
            <td th:text="${game.started}"></td>
            <td th:text="${game.odd.homeOdd}"></td>
            <td th:text="${game.odd.drawOdd}"></td>
            <td th:text="${game.odd.awayOdd}"></td>

            <td>
                <form th:action="@{/ticket/{game_id}/1/create(game_id = ${game.id})}" method="get">
                    <button name="playerId" th:text="${game.odd.homeOdd}" type="submit"></button>
                </form>
            </td>
            <td>
                <form th:action="@{/ticket/{game_id}/X/create(game_id = ${game.id})}" method="get">
                    <button name="playerId" th:text="${game.odd.drawOdd}" type="submit"></button>
                </form>
            </td>
            <td>
                <form th:action="@{/ticket/{game_id}/2/create(game_id = ${game.id})}" method="get">
                    <button name="playerId" th:text="${game.odd.awayOdd}" type="submit"></button>
                </form>
            </td>
        </tr>
    </table>


    <p th:text= "'TICKET for user: ' + ${userName}"></p>

    <form action="/ticket/create" method="post">
        <button name="playerId" type="submit">Create new ticket</button>
    </form>

    <table>
        <thead>
        <td>bet id</td>
        <td>home team</td>
        <td>away team</td>
        <td>type</td>
        <td>odd</td>

        </thead>

        <tr th:each="bet: ${session.bets}">
            <td th:text="${bet.id}"></td>
            <td th:text="${bet.game.teamHome.name}"></td>
            <td th:text="${bet.game.teamAway.name}"></td>
            <td th:text="${bet.type}"></td>
            <td th:text="${bet.odd}"></td>

        </tr>
    </table>

    <p th:text="'Total odd: ' + ${session.totalOdd}"></p>

    <!--<input type = "number" name ="a_number" placeholder="a parameter">-->
    <!--<input type = "number" name ="b_number" placeholder="b parameter">-->
    <!--<input type = "number" name ="c_number" placeholder="c parameter">-->

    <form action="/ticket/submit" method="post">
        <input type="number" name="stake">
        <button name="playerId" type="submit">Submit ticket</button>
    </form>

    <a th:href="@{/ticket/displayAll}">DISPLAY ALL TICKETS</a>
</div>
</html>

<!--<td><a th:href="@{/home/{id}/order(id=${product.id})}">Order</a></td>-->