<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout_main">

<div layout:fragment="content">

    <p th:text= "'ALL TICKETS '"></p>

    <table>
        <thead>
        <td>ticket id</td>
        <td>stake</td>
        <td>win</td>
        <td>active</td>
        <td>paid</td>
        <td>details</td>
        </thead>

        <tr th:each="ticket: ${tickets}">
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.stake}"></td>
            <td th:text="${ticket.win}"></td>
            <td th:text="${ticket.active}"></td>
            <td th:text="${ticket.paid}"></td>
            <td>
                <form th:action="@{/ticket/display/} + ${ticket.id}" method="post">
                    <button name="playerId" type="submit">Details</button>
                </form>
            </td>
        </tr>
    </table>




    <a th:href="@{/games/scheduled/display}">Back to games</a>

</div>
</html>

<!--<td><a th:href="@{/home/{id}/order(id=${product.id})}">Order</a></td>-->